/*************************************************************************************************/
/********************************** Sport2000 ****************************************************/
/*************************************************************************************************/
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * Homepage
 * ============================================ */
/* -------------------------------------------- *
 * Primary Banner
 */
/* line 36, ../scss/content/_header.scss */
body.cms-home .main-container {
  padding-top: 20px; }
/* line 40, ../scss/content/_header.scss */
body.cms-home .slideshow-container {
  margin-top: 0; }

/* line 45, ../scss/content/_header.scss */
.slideshow .banner-msg {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 30%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 54, ../scss/content/_header.scss */
.slideshow .banner-msg h2 {
  color: #FFFFFF;
  font-size: 24px;
  text-shadow: 1px 1px 3px #555555; }

/* line 60, ../scss/content/_header.scss */
.slideshow .banner-msg h2 strong {
  font-weight: bold;
  display: block;
  font-size: 36px; }

@media only screen and (max-width: 770px) {
  /* line 68, ../scss/content/_header.scss */
  .slideshow .banner-msg h2 {
    font-size: 20px; }

  /* line 72, ../scss/content/_header.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 24px; } }
@media only screen and (max-width: 479px) {
  /* line 79, ../scss/content/_header.scss */
  .slideshow .banner-msg {
    top: 20%; }

  /* line 83, ../scss/content/_header.scss */
  .slideshow .banner-msg h2 {
    font-size: 14px; }

  /* line 87, ../scss/content/_header.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 16px; } }
/* -------------------------------------------- *
 * Promotion Banner Section
 */
/* line 96, ../scss/content/_header.scss */
.promos {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%; }

/* line 102, ../scss/content/_header.scss */
.promos:after {
  content: '';
  display: table;
  clear: both; }

/* Specifying the body only in order to override the .std ul li styling */
/* line 108, ../scss/content/_header.scss */
body .promos > li {
  margin: 0 0 10px 0;
  list-style: none;
  text-align: center;
  position: relative;
  border: 1px solid #CCCCCC;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 117, ../scss/content/_header.scss */
.promos > li:last-child {
  margin-bottom: 0; }

/* line 121, ../scss/content/_header.scss */
.promos img {
  max-width: 100%;
  width: 100%; }

/* line 126, ../scss/content/_header.scss */
.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block; }

/* line 131, ../scss/content/_header.scss */
.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555; }

/* line 144, ../scss/content/_header.scss */
.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block; }

@media only screen and (min-width: 771px) {
  /* line 152, ../scss/content/_header.scss */
  .promos span {
    font-size: 16px; }

  /* line 156, ../scss/content/_header.scss */
  .promos strong {
    font-size: 17px; }

  /* Config: Three columns + flexible gutter */
  /* line 163, ../scss/content/_header.scss */
  body .promos > li {
    float: left;
    width: 31.74603%;
    margin-right: 2.38095%; }

  /* line 169, ../scss/content/_header.scss */
  .promos > li:nth-child(3n) {
    margin-right: 0; } }
@media only screen and (min-width: 880px) {
  /* line 175, ../scss/content/_header.scss */
  .promos span {
    font-size: 18px; }

  /* line 179, ../scss/content/_header.scss */
  .promos strong {
    font-size: 24px; } }
/* -------------------------------------------- *
 * New Products Section
 */
/* Hiding the reviews content via CSS because we can't modify the template, */
/* since it may be used in other places where those elements are needed */
/* line 190, ../scss/content/_header.scss */
.cms-index-index .products-grid .ratings,
.cms-index-index .products-grid .actions,
.cms-index-noroute .products-grid .ratings,
.cms-index-noroute .products-grid .actions {
  display: none; }

/* line 197, ../scss/content/_header.scss */
.cms-index-index h2.subtitle {
  padding: 6px 0;
  text-align: center;
  color: #3399CC;
  font-weight: 600;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC; }

/* line 206, ../scss/content/_header.scss */
.cms-index-noroute h2.subtitle {
  display: none; }

/*************************************************************************************************/
/********************************** Sport2000 ****************************************************/
/*************************************************************************************************/
/* line 227, ../scss/content/_header.scss */
body, button, input, select, table, textarea {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal; }

/* line 237, ../scss/content/_header.scss */
.pages a, .pages .current {
  font-size: 14px;
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 245, ../scss/content/_header.scss */
.button, .footer .button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button {
  background: #3399cc;
  display: inline-block;
  padding: 7px 15px 5px;
  border: 0;
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

@font-face {
  font-family: TitilliumText22L_Regular;
  src: url(../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.otf) format("opentype"), url(../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.eot) format("embedded-opentype"), url(../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.woff) format("woff"), url(../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.ttf) format("truetype"), url(../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.svg) format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: TitilliumText22L_Medium;
  src: url(../fonts/TitilliumText22L-Medium/TitilliumText22L-Medium.otf) format("opentype"), url(../fonts/TitilliumText22L-Medium/TitilliumText22L-Medium.eot) format("embedded-opentype"), url(../fonts/TitilliumText22L-Medium/TitilliumText22L-Medium.woff) format("woff"), url(../fonts/TitilliumText22L-Medium/TitilliumText22L-Medium.ttf) format("truetype"), url(../fonts/TitilliumText22L-Medium/TitilliumText22L-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: TitilliumText22L_Bold;
  src: url(../fonts/TitilliumText22L-Bold/TitilliumText22L-Bold.otf) format("opentype"), url(../fonts/TitilliumText22L-Bold/TitilliumText22L-Bold.eot) format("embedded-opentype"), url(../fonts/TitilliumText22L-Bold/TitilliumText22L-Bold.woff) format("woff"), url(../fonts/TitilliumText22L-Bold/TitilliumText22L-Bold.ttf) format("truetype"), url(../fonts/TitilliumText22L-Bold/TitilliumText22L-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }
/* line 282, ../scss/content/_header.scss */
body.customer-account .data-table td a {
  font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif;
  text-transform: none;
  font-size: 14px; }

/* line 303, ../scss/content/_header.scss */
a {
  color: black;
  text-decoration: none; }
  /* line 306, ../scss/content/_header.scss */
  a:hover {
    color: gray; }
  /* line 309, ../scss/content/_header.scss */
  a:focus {
    outline-color: black;
    color: black; }
  /* line 313, ../scss/content/_header.scss */
  a.skip-link {
    min-width: 134px;
    padding-top: 4px; }

/* line 318, ../scss/content/_header.scss */
h1 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 322, ../scss/content/_header.scss */
.h1 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 326, ../scss/content/_header.scss */
h2 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }
  /* line 329, ../scss/content/_header.scss */
  h2.product-name a:hover {
    color: gray;
    text-decoration: none; }

/* line 334, ../scss/content/_header.scss */
.h2 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 338, ../scss/content/_header.scss */
h3 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }
  /* line 341, ../scss/content/_header.scss */
  h3.product-name a:hover {
    color: gray;
    text-decoration: none; }

/* line 346, ../scss/content/_header.scss */
.h3 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 350, ../scss/content/_header.scss */
h4 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }
  /* line 353, ../scss/content/_header.scss */
  h4.product-name a:hover {
    color: gray;
    text-decoration: none; }

/* line 358, ../scss/content/_header.scss */
.h4 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 362, ../scss/content/_header.scss */
h5 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }
  /* line 365, ../scss/content/_header.scss */
  h5.product-name a:hover {
    color: gray;
    text-decoration: none; }

/* line 370, ../scss/content/_header.scss */
.h5 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 374, ../scss/content/_header.scss */
h6 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 378, ../scss/content/_header.scss */
.h6 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-transform: none; }

/* line 382, ../scss/content/_header.scss */
.item-options {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 384, ../scss/content/_header.scss */
  .item-options dt {
    font-weight: normal;
    color: gray;
    clear: none;
    padding-right: 0;
    font-style: normal; }
  /* line 391, ../scss/content/_header.scss */
  .item-options dd {
    padding: 0 5px 5px;
    margin: 0;
    min-width: 60px;
    color: black; }

/* line 398, ../scss/content/_header.scss */
.toolbar {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 400, ../scss/content/_header.scss */
  .toolbar label {
    text-transform: none; }

/* line 404, ../scss/content/_header.scss */
.pager {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 416, ../scss/content/_header.scss */
form .legend {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 420, ../scss/content/_header.scss */
form .form-instructions {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  font-size: 14px; }

/* line 425, ../scss/content/_header.scss */
label {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  font-size: 14px; }
  /* line 428, ../scss/content/_header.scss */
  label.required:after {
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 432, ../scss/content/_header.scss */
.input-text {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 14px; }

@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 0) {
  /* line 440, ../scss/content/_header.scss */
  input[type=email] {
    font-size: 14px; }

  /* line 443, ../scss/content/_header.scss */
  input[type=search] {
    font-size: 14px; }

  /* line 446, ../scss/content/_header.scss */
  input[type=number] {
    font-size: 14px; }

  /* line 449, ../scss/content/_header.scss */
  input[type=password] {
    font-size: 14px; }

  /* line 452, ../scss/content/_header.scss */
  input[type=tel] {
    font-size: 14px; }

  /* line 455, ../scss/content/_header.scss */
  input[type=text] {
    font-size: 14px; }

  /* line 458, ../scss/content/_header.scss */
  select {
    font-size: 14px; } }
/* line 463, ../scss/content/_header.scss */
p.required {
  font-size: 14px; }
/* line 466, ../scss/content/_header.scss */
p.product-name a:hover {
  color: gray;
  text-decoration: none; }

/* line 471, ../scss/content/_header.scss */
.validation-advice {
  font-size: 14px; }

/* line 475, ../scss/content/_header.scss */
.data-table th {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 479, ../scss/content/_header.scss */
.data-table tbody td {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 482, ../scss/content/_header.scss */
.data-table tfoot td {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

@media only screen and (max-width: 479px) {
  /* line 487, ../scss/content/_header.scss */
  .linearize-table tbody td[data-rwd-label]:before {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; } }
@media only screen and (max-width: 599px) {
  /* line 493, ../scss/content/_header.scss */
  .linearize-table-large tbody td[data-rwd-label]:before {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; } }
@media only screen and (min-width: 771px) {
  /* line 499, ../scss/content/_header.scss */
  .page-header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0; }

  /* line 504, ../scss/content/_header.scss */
  .logo {
    max-width: 116px; }

  /* line 507, ../scss/content/_header.scss */
  .nav-primary {
    margin: 0; }
    /* line 510, ../scss/content/_header.scss */
    .nav-primary a.level0 {
      line-height: 35px;
      width: 100px;
      text-align: center;
      padding: 0 0 2px 0; }
    /* line 518, ../scss/content/_header.scss */
    .nav-primary a:hover {
      color: gray; }
    /* line 523, ../scss/content/_header.scss */
    .nav-primary li.level0 {
      line-height: 35px; }
      /* line 525, ../scss/content/_header.scss */
      .nav-primary li.level0 ul {
        position: absolute;
        top: 37px;
        font-size: 15px;
        z-index: 10;
        padding: 0;
        background: none;
        border: none;
        margin: 0;
        display: none;
        width: 680px; }
    /* line 538, ../scss/content/_header.scss */
    .nav-primary li:hover > a {
      color: gray; }

  /* line 543, ../scss/content/_header.scss */
  #header-search {
    top: 0;
    right: 30px;
    height: 35px; }

  /* line 548, ../scss/content/_header.scss */
  .skip-account {
    padding: 0;
    text-transform: none; }

  /* line 553, ../scss/content/_header.scss */
  #header-account.skip-active {
    background: white;
    border: none;
    border-bottom: solid 1px #cccccc;
    top: 32px;
    right: 138px;
    width: 134px;
    line-height: 30px; }
  /* line 562, ../scss/content/_header.scss */
  #header-account a {
    padding: 0 0 0 30px;
    color: inherit;
    line-height: inherit;
    text-align: left; }
    /* line 567, ../scss/content/_header.scss */
    #header-account a:hover {
      color: gray;
      text-decoration: none; }

  /* line 573, ../scss/content/_header.scss */
  .skip-cart {
    padding: 0;
    color: black;
    text-transform: none; }
    /* line 577, ../scss/content/_header.scss */
    .skip-cart .count {
      color: gray;
      padding-left: 5px; }
      /* line 580, ../scss/content/_header.scss */
      .skip-cart .count:before {
        content: '( '; }
      /* line 583, ../scss/content/_header.scss */
      .skip-cart .count:after {
        content: ' )'; }

  /* line 588, ../scss/content/_header.scss */
  #header-cart.skip-active {
    border: none;
    border-bottom: solid 2px #cccccc;
    top: 32px;
    margin: 0;
    background: white; }

  /* line 595, ../scss/content/_header.scss */
  .skip-link.skip-active .count {
    color: gray;
    padding-left: 5px; }

  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-1 ul.level0 {
    left: -92px; }
  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-2 ul.level0 {
    left: -192px; }
  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-3 ul.level0 {
    left: -292px; }
  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-4 ul.level0 {
    left: -392px; }
  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-5 ul.level0 {
    left: -492px; }
  /* line 35, ../scss/mixin/_sport2000.scss */
  ol li.nav-6 ul.level0 {
    left: -592px; } }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-1 ul.level0 {
  left: -92px; }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-2 ul.level0 {
  left: -192px; }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-3 ul.level0 {
  left: -292px; }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-4 ul.level0 {
  left: -392px; }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-5 ul.level0 {
  left: -492px; }
/* line 48, ../scss/mixin/_sport2000.scss */
ol li.nav-6 ul.level0 {
  left: -592px; }

/* line 612, ../scss/content/_header.scss */
.header-language-container {
  font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif; }

/* line 615, ../scss/content/_header.scss */
.page-header {
  font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif; }

/* line 618, ../scss/content/_header.scss */
.header-language-background {
  text-transform: none;
  background-color: #f2f2f2;
  color: black; }
  /* line 622, ../scss/content/_header.scss */
  .header-language-background .welcome-msg {
    float: none; }
  /* line 625, ../scss/content/_header.scss */
  .header-language-background .header-language-container {
    max-width: 960px; }

/* line 629, ../scss/content/_header.scss */
.price-box {
  font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif; }
  /* line 631, ../scss/content/_header.scss */
  .price-box .price {
    font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif;
    color: black; }
  /* line 635, ../scss/content/_header.scss */
  .price-box .price-label {
    font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif; }
  /* line 638, ../scss/content/_header.scss */
  .price-box .minimal-price-link .label {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 643, ../scss/content/_header.scss */
.price {
  font-family: TitilliumText22L_Medium, Verdana, Arial, sans-serif;
  color: black; }

/* line 647, ../scss/content/_header.scss */
.availability {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: none; }

/* line 653, ../scss/content/_header.scss */
.page-title h1 {
  text-transform: none; }
/* line 656, ../scss/content/_header.scss */
.page-title h2 {
  text-transform: none; }

/* line 661, ../scss/content/_header.scss */
.product-name h1 {
  text-transform: none; }
/* line 664, ../scss/content/_header.scss */
.product-name .h1 {
  text-transform: none; }

/* line 669, ../scss/content/_header.scss */
.block-title h2 {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 673, ../scss/content/_header.scss */
.block-title h3 {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 677, ../scss/content/_header.scss */
.block-title strong {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 682, ../scss/content/_header.scss */
.block-content {
  margin-top: 10px; }

@media only screen and (max-width: 770px) {
  /* line 687, ../scss/content/_header.scss */
  .sidebar .block:not(.block-layered-nav) .block-title > strong {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 691, ../scss/content/_header.scss */
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

  /* line 696, ../scss/content/_header.scss */
  #header-account li a {
    text-transform: none; }

  /* line 699, ../scss/content/_header.scss */
  .nav-primary a.level0 {
    text-transform: none; } }
/* line 709, ../scss/content/_header.scss */
.footer {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 714, ../scss/content/_header.scss */
  .footer button {
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 717, ../scss/content/_header.scss */
  .footer .links {
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
    font-size: 14px; }
  /* line 721, ../scss/content/_header.scss */
  .footer .block-subscribe {
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
    font-size: 14px; }

/* line 726, ../scss/content/_header.scss */
.cvv-what-is-this {
  font-size: 14px; }

/* line 729, ../scss/content/_header.scss */
.main-container {
  max-width: 960px; }

/* line 732, ../scss/content/_header.scss */
.footer-container {
  max-width: 960px; }

/* line 735, ../scss/content/_header.scss */
.promo-msg {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 739, ../scss/content/_header.scss */
.skip-link {
  height: 32px;
  line-height: 30px;
  background: none;
  color: black; }
  /* line 744, ../scss/content/_header.scss */
  .skip-link .icon {
    width: 15px;
    height: 20px; }

/* line 750, ../scss/content/_header.scss */
.nav-primary a {
  color: #636363;
  line-height: 30px;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  text-decoration: none;
  position: relative;
  display: block;
  color: black; }
/* line 760, ../scss/content/_header.scss */
.nav-primary li.level1 {
  display: inline-block; }
  /* line 762, ../scss/content/_header.scss */
  .nav-primary li.level1 a {
    color: #d9d9d9;
    padding: 0 15px;
    border: none;
    line-height: 35px; }
  /* line 768, ../scss/content/_header.scss */
  .nav-primary li.level1:hover {
    background-color: #c41230; }
/* line 772, ../scss/content/_header.scss */
.nav-primary li.level0 > a {
  text-transform: none; }

/* line 778, ../scss/content/_header.scss */
.block-layered-nav .block-subtitle--filter {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 782, ../scss/content/_header.scss */
.block-layered-nav .block-content > dl > dt {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 786, ../scss/content/_header.scss */
.block-layered-nav .currently .block-subtitle {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 792, ../scss/content/_header.scss */
.header-minicart .minicart-wrapper {
  padding: 10px 16px; }
/* line 795, ../scss/content/_header.scss */
.header-minicart .block-subtitle {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 799, ../scss/content/_header.scss */
.header-minicart .mini-products-list {
  padding: 0; }
  /* line 801, ../scss/content/_header.scss */
  .header-minicart .mini-products-list li {
    padding: 10px 0 5px;
    margin: 0; }
/* line 806, ../scss/content/_header.scss */
.header-minicart .info-wrapper {
  margin: 0; }
  /* line 808, ../scss/content/_header.scss */
  .header-minicart .info-wrapper th {
    text-transform: none;
    padding: 0; }
  /* line 812, ../scss/content/_header.scss */
  .header-minicart .info-wrapper td {
    color: gray; }
/* line 816, ../scss/content/_header.scss */
.header-minicart .subtotal {
  line-height: 34px;
  text-align: left;
  background: none; }
  /* line 820, ../scss/content/_header.scss */
  .header-minicart .subtotal .label {
    color: gray;
    min-width: 57px;
    display: inline-block;
    text-transform: none; }
  /* line 826, ../scss/content/_header.scss */
  .header-minicart .subtotal .price {
    padding: 0 20px 0 0;
    color: black; }
/* line 831, ../scss/content/_header.scss */
.header-minicart .product-details .product-name {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-transform: none; }
  /* line 838, ../scss/content/_header.scss */
  .header-minicart .product-details .product-name a {
    color: black; }
    /* line 840, ../scss/content/_header.scss */
    .header-minicart .product-details .product-name a:hover {
      color: gray; }
/* line 845, ../scss/content/_header.scss */
.header-minicart .minicart-actions .cart-link {
  text-transform: none;
  font-size: 14px; }

/* line 850, ../scss/content/_header.scss */
.search-autocomplete {
  top: 0 !important; }
  /* line 852, ../scss/content/_header.scss */
  .search-autocomplete ul {
    border: 1px solid gray; }
    /* line 854, ../scss/content/_header.scss */
    .search-autocomplete ul li {
      color: black; }
      /* line 856, ../scss/content/_header.scss */
      .search-autocomplete ul li:hover {
        color: gray; }
      /* line 859, ../scss/content/_header.scss */
      .search-autocomplete ul li.selected {
        background-color: inherit;
        color: inherit; }
  /* line 865, ../scss/content/_header.scss */
  .search-autocomplete:before {
    border-bottom: none; }

/* line 869, ../scss/content/_header.scss */
.search-autocomplete-estimate {
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  z-index: 300;
  position: relative;
  right: 0;
  left: 165px;
  top: -33px;
  height: 30px;
  width: 30px;
  display: none;
  cursor: wait; }

/* line 885, ../scss/content/_header.scss */
.product-review .ratings-table {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 887, ../scss/content/_header.scss */
  .product-review .ratings-table tr {
    text-transform: none; }
/* line 892, ../scss/content/_header.scss */
.product-review .ratings-description dt {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 896, ../scss/content/_header.scss */
.product-review .ratings-description dd {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif;
  font-size: 14px; }
/* line 901, ../scss/content/_header.scss */
.product-review .product-img-box p.label {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 905, ../scss/content/_header.scss */
.product-review .product-details h2 {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 909, ../scss/content/_header.scss */
#search {
  height: 35px;
  padding: 4px 40px 0 8px;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 916, ../scss/content/_header.scss */
.search-input {
  display: none; }

/* line 919, ../scss/content/_header.scss */
.search-input-hasdata {
  font-style: italic;
  color: gray; }

/* line 923, ../scss/content/_header.scss */
.search-input-visible {
  display: inline-block; }

/* line 927, ../scss/content/_header.scss */
.skip-account .icon {
  background-position: 0 0;
  background-image: url(../images/icon_sprite.png); }
/* line 931, ../scss/content/_header.scss */
.skip-account:not(.skip-active):hover .icon {
  background-position: 0 0; }

/* line 935, ../scss/content/_header.scss */
.icon-sprite {
  background-image: url(../images/icon_sprite.png); }

/* line 938, ../scss/content/_header.scss */
.btn-remove2 {
  background-image: url(../images/icon_sprite.png); }

/* line 942, ../scss/content/_header.scss */
.skip-cart .icon {
  background-image: url(../images/icon_sprite.png);
  background-position: 0 -30px; }
/* line 946, ../scss/content/_header.scss */
.skip-cart .count {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 949, ../scss/content/_header.scss */
.skip-cart:not(.skip-active):hover .icon {
  background-position: 0 -30px; }
/* line 952, ../scss/content/_header.scss */
.skip-cart.no-count .count {
  display: inline-block; }

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* line 957, ../scss/content/_header.scss */
  .icon-sprite {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 961, ../scss/content/_header.scss */
  .btn-remove2 {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 965, ../scss/content/_header.scss */
  .ratings .rating-box {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }
    /* line 968, ../scss/content/_header.scss */
    .ratings .rating-box .rating {
      background-image: url(../images/icon_sprite@2x.png);
      background-size: 100px 608px; }

  /* line 975, ../scss/content/_header.scss */
  .sorter > .view-mode .grid {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }
  /* line 979, ../scss/content/_header.scss */
  .sorter > .view-mode .list {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }
  /* line 984, ../scss/content/_header.scss */
  .sorter > .sort-by .sort-by-switcher {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 989, ../scss/content/_header.scss */
  .skip-nav .icon {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 993, ../scss/content/_header.scss */
  .skip-search .icon {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 997, ../scss/content/_header.scss */
  #search_mini_form .search-button:before {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 1001, ../scss/content/_header.scss */
  .skip-account .icon {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 1005, ../scss/content/_header.scss */
  .skip-cart .icon {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 1009, ../scss/content/_header.scss */
  .product-view .sharing-links a {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 1013, ../scss/content/_header.scss */
  .review-summary-table .rating-box .rating-number:after {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }

  /* line 1017, ../scss/content/_header.scss */
  .ratings-table .rating-box {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 608px; }
    /* line 1020, ../scss/content/_header.scss */
    .ratings-table .rating-box .rating {
      background-image: url(../images/icon_sprite@2x.png);
      background-size: 100px 608px; } }
/* line 1027, ../scss/content/_header.scss */
#header-account.skip-active {
  background: white;
  border: none;
  border-bottom: solid 1px #cccccc;
  top: 32px;
  right: 138px;
  width: 134px;
  line-height: 30px; }
/* line 1036, ../scss/content/_header.scss */
#header-account a {
  padding: 0 30px;
  text-align: left; }
  /* line 1039, ../scss/content/_header.scss */
  #header-account a:hover {
    color: gray;
    text-decoration: none; }

/* line 1046, ../scss/content/_header.scss */
.cart-menu .subtotal {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
/* line 1049, ../scss/content/_header.scss */
.cart-menu .last-added {
  font-size: 14px; }

/* line 1053, ../scss/content/_header.scss */
.page-header-container {
  height: 114px; }

/* line 1056, ../scss/content/_header.scss */
.page-header-container-top {
  height: 77px;
  background-color: #f2f2f2;
  border-bottom: #858687 2px solid; }

/* line 1061, ../scss/content/_header.scss */
.page-header-container-down {
  height: 35px;
  background-color: black; }

/* line 1065, ../scss/content/_header.scss */
.page-header-container-top-align {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 30px 0;
  position: relative; }

/* line 1071, ../scss/content/_header.scss */
.page-header-container-down-align {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px 0 155px;
  position: relative; }

/* line 1077, ../scss/content/_header.scss */
.page-header-container-top-menu {
  padding: 15px 0 0 100px;
  font-size: 18px;
  font-weight: bold;
  width: 640px;
  display: inline-block; }

/* line 1084, ../scss/content/_header.scss */
.page-header-account-cart {
  top: 40px;
  right: 30px;
  width: 290px;
  position: absolute; }

/* line 1090, ../scss/content/_header.scss */
.a-account-cart-hover {
  background-color: white;
  height: 32px;
  min-width: 130px;
  border-bottom: 1px gray solid;
  color: gray !important; }

/* line 1097, ../scss/content/_header.scss */
.skip-link-parent {
  display: inline; }

/* line 1100, ../scss/content/_header.scss */
.logo-align {
  position: absolute;
  top: 18px; }

/* line 1104, ../scss/content/_header.scss */
.icon-arrow-checkout {
  height: 12px;
  width: 8px;
  display: inline-block;
  background-position: -32px -105px;
  margin: 0 0 -1px 12px; }

/* line 1111, ../scss/content/_header.scss */
.truncated .truncated_full_value .item-options > p {
  text-transform: none; }

/* line 1114, ../scss/content/_header.scss */
.std .note {
  font-size: 14px; }

/* line 1117, ../scss/content/_header.scss */
.pager-no-toolbar label {
  text-transform: none; }

/* line 1120, ../scss/content/_header.scss */
span.required:after {
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 1123, ../scss/content/_header.scss */
.info-box h2 {
  font-size: 14px; }

/* line 1126, ../scss/content/_header.scss */
.block-account li {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 1130, ../scss/content/_header.scss */
.block-cms-menu li {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 1140, ../scss/content/_header.scss */
.button2 span {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }
  /* line 1143, ../scss/content/_header.scss */
  .button2 span span {
    text-transform: none;
    font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 1148, ../scss/content/_header.scss */
.breadcrumbs li {
  text-transform: none;
  font-family: TitilliumText22L_Regular, Verdana, Arial, sans-serif; }

/* line 1152, ../scss/content/_header.scss */
.logo:hover {
  opacity: 1; }

/* line 1155, ../scss/content/_header.scss */
.mini-products-list .product-qty {
  float: left;
  min-width: 50px;
  color: gray;
  line-height: 18px;
  letter-spacing: -2px;
  padding-top: 2px; }

/* line 1163, ../scss/content/_header.scss */
#search_mini_form .search-button {
  height: 35px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #c41230; }
  /* line 1167, ../scss/content/_header.scss */
  #search_mini_form .search-button:hover {
    background-color: #e41232;
    transition: 2ms; }
    /* line 1171, ../scss/content/_header.scss */
    #search_mini_form .search-button:hover:before {
      opacity: 1; }
  /* line 1175, ../scss/content/_header.scss */
  #search_mini_form .search-button:before {
    background-position: -63px -97px;
    background-image: url(../images/icon_sprite.png); }
  /* line 1179, ../scss/content/_header.scss */
  #search_mini_form .search-button:active:before {
    margin-top: -15px;
    margin-left: -15px; }

/* line 1184, ../scss/content/_header.scss */
.ratings .rating-box {
  background-image: url(../images/icon_sprite.png); }
  /* line 1186, ../scss/content/_header.scss */
  .ratings .rating-box .rating {
    background-image: url(../images/icon_sprite.png); }

/* line 1192, ../scss/content/_header.scss */
.sorter > .view-mode .grid {
  background-image: url(../images/icon_sprite.png); }
/* line 1195, ../scss/content/_header.scss */
.sorter > .view-mode .list {
  background-image: url(../images/icon_sprite.png); }
/* line 1199, ../scss/content/_header.scss */
.sorter > .sort-by .sort-by-switcher {
  background-image: url(../images/icon_sprite.png); }

/* line 1203, ../scss/content/_header.scss */
.skip-nav .icon {
  background-image: url(../images/icon_sprite.png); }

/* line 1206, ../scss/content/_header.scss */
.skip-search .icon {
  background-image: url(../images/icon_sprite.png); }

/* line 1209, ../scss/content/_header.scss */
.product-view .sharing-links a {
  background-image: url(../images/icon_sprite.png); }

/* line 1212, ../scss/content/_header.scss */
.review-summary-table .rating-box .rating-number:after {
  background-image: url(../images/icon_sprite.png); }

/* line 1215, ../scss/content/_header.scss */
.ratings-table .rating-box {
  background-image: url(../images/icon_sprite.png); }
  /* line 1217, ../scss/content/_header.scss */
  .ratings-table .rating-box .rating {
    background-image: url(../images/icon_sprite.png); }

/* line 1221, ../scss/content/_header.scss */
.mini-cart-list li {
  font-size: 14px; }

/* line 1224, ../scss/content/_header.scss */
.subtotal .checkout-button {
  float: right;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  background-color: #74bd00; }

/*# sourceMappingURL=sport2000.css.map */
